{% extends 'main.html' %}


{% block content %}

<br>

<div class="container overflow-hidden text-center">
    <div class="row">
        <div class="col md-6">
            <div class="card card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    
                    {% if formset %}
                        {{formset.management_form}}
                        {% for form in formset %}
                            {{form}}
                            <hr>
                        {% endfor %}
                    {% endif %}

                    {{form}}

                    <input type="submit" name="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
